[project]
	description = Utility based on shade to select and cleanup resources from CI runs in a tenant
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jon Schlueter (yazug)
[access "refs/for/refs/*"]
	read = group user/Jon Schlueter (yazug)
	push = group user/Jon Schlueter (yazug)
	label-Code-Review = -2..+2 group user/Jon Schlueter (yazug)
	label-Verified = -1..+1 group user/Jon Schlueter (yazug)
	rebase = group user/Jon Schlueter (yazug)
	removeReviewer = group user/Jon Schlueter (yazug)
	submit = group user/Jon Schlueter (yazug)
[access "refs/heads/*"]
	read = group user/Jon Schlueter (yazug)
	create = group user/Jon Schlueter (yazug)
	push = +force group user/Jon Schlueter (yazug)
	pushMerge = group user/Jon Schlueter (yazug)
[access "refs/tags/*"]
	push = +force group user/Jon Schlueter (yazug)
	pushTag = group user/Jon Schlueter (yazug)
	pushSignedTag = group user/Jon Schlueter (yazug)
